cachetools==3.1.1
certifi==2019.3.9
chardet==3.0.4
google-api-python-client==1.7.9
google-auth==1.6.3
google-auth-httplib2==0.0.3
httplib2==0.18.0
idna==2.8
iso-639==0.4.5
iso3166==1.0
isodate==0.6.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycryptodome==3.8.2
PySocks==1.7.0
python-daemon==2.2.4
python-pushover==0.4
requests==2.22.0
rsa==4.0
six==1.12.0
uritemplate==3.0.0
urllib3==1.25.3
websocket-client==0.56.0
youtube-python==1.0.13
streamlink==1.4.1
youtube-dl==2020.5.8